<div class="container-fluid">
    <div class="row">

            <h1>Admin</h1>

            <h2 class="sub-header">Users</h2>

            <div>
                <table class="table table-hover table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Username</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Email</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="user.username" type="text" placeholder="username"></td>
                        <td><input ng-model="user.email" type="text" placeholder="email"></td>
                        <td><input ng-model="user.roles" ng-list="," type="text" placeholder="roles"></td>
                        <td><i ng-click="add(user)" class="glyphicon glyphicon-plus"></i> <i ng-click="update(user)" class="glyphicon glyphicon-ok"></i></td>

                    </tr>

                    <tr ng-repeat="user in users">

                         <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.roles}}</td>
                        <td><i ng-click="remove($index)" class="glyphicon glyphicon-remove"></i>
                            <i ng-click="select($index)" class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>



    </div>
</div>