<div class="container-fluid">
    <div class="row">

            <h1>Admin</h1>

            <h2 class="sub-header">Users</h2>

            <div>
                <table class="table table-hover table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>FirstName</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>LastName</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Username</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Password</th>
                        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="firstname" type="text" placeholder="first name"></td>
                        <td><input ng-model="lastname" type="text" placeholder="last name"></td>
                        <td><input ng-model="username" type="text" placeholder="username"></td>
                        <td><input ng-model="password" type="text" placeholder="password"></td>
                        <td><input ng-model="roles" type="text" placeholder="roles"></td>
                        <td><i ng-click="addUser()" class="glyphicon glyphicon-plus"></i> <i ng-click="updateUser()" class="glyphicon glyphicon-ok"></i></td>

                    </tr>

                    <tr ng-repeat="user in users">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.roles}}</td>
                        <td><i ng-click="deleteUser($index)" class="glyphicon glyphicon-remove"></i>
                            <i ng-click="selectUser($index)" class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>



    </div>
</div>