<div class="row home-images">
    <li><a href="#/recipe-details"><img src="images/profile.jpg" alt="" class="col-md-4 img-responsive img-rounded placeholder"></a></li>
    <li><img src="images/login.jpg" alt="" class="col-md-4 img-responsive img-rounded"></li>
    <li><img src="images/icecream.jpeg" alt="" class="col-md-4 img-responsive img-rounded"></li>
</div>
<div class="row home-images">

    <li><img src="images/profile.jpg" alt="" class="col-md-4 img-responsive img-rounded"></li>
    <li><img src="images/profile.jpg" alt="" class="col-md-4 img-responsive img-rounded"></li>
    <li><img src="images/profile.jpg" alt="" class=" col-md-4 img-responsive img-rounded"></li>
</div>