<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">



            <div class="inner cover text-center">
                <h1 class="cover-heading">Find cooking inspiration</h1>
                <p class="lead">Browse recipes</p>
                <p class="lead">
                    <a href="#/search" class="srch-btn btn btn-lg ">Search <i class="glyphicon glyphicon-search"></i></a>
                </p>
            </div>



        </div>

    </div>

</div>
