<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9  col-md-10  main">
            <h1>Following</h1>

            <div>
                <ul class="edit-review nav nav-tabs nav-justified">
                    <li><a href="#/myrecipes" class="white">My Recipes</a></li>
                    <li><a href="#/myreviews" class="white">My Reviews</a></li>
                    <li  class="active"><a class="white" href="#">Following</a></li>
                </ul>
            </div>
            <div>
                <div>&nbsp;</div>
                <a class="btn btn-info text-center" href="#/searchUsers">Find new people to follow !</a>
                <div>&nbsp;</div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i ng-click="sortBy('following_username')" class="glyphicon glyphicon-sort"></i> Friends You Follow</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="friend in friends | orderBy:orderFeature:orderDescending">
                        <td><a href="#/follow/{{friend.following_username}}">
                            {{friend.following_username}}</a></td>
                        <td>
                            <button ng-click="removeFriend($index)" class="btn btn-danger">Unfollow</button>
                        </td>

                    </tr>

                    </tbody>
                </table>
        </div>
    </div>
</div>