<div class="container">
    <form name="registerForm" class="form-horizontal register" ng-submit="register(registerForm.$valid)" novalidate>
        <h2 class="page-header">Register</h2>

        <input ng-model="user.username" name="username" type="text" class="form-control input-lg" id="username"
               placeholder="Username" required aria-required="true">
        <div role="alert">
      <span class="error" ng-show="registerForm.username.$error.required && registerForm.username.$touched">
       Username is required!</span>
        </div>
        <div>&nbsp;</div>
        <input ng-model="user.password" name="password" type="password" class="form-control input-lg"
               id="password" placeholder="Password" required aria-required="true">
        <div role="alert">
        <span class="error" ng-show="registerForm.password.$error.required && registerForm.password.$touched">
        Password is required!</span>
        </div>
        <div>&nbsp;</div>
        <input ng-model="verifyPassword" name="verifyPassword" type="password" class="form-control input-lg"
               id="verifyInputPassword" placeholder="Verify Password" required aria-required="true">
        <div role="alert">
        <span class="error" ng-show="(registerForm.password.$error.required) && registerForm.password.$touched">
        Field is required!</span>
        </div>
        <div>&nbsp;</div>
        <input ng-model="user.email" name="email" type="email" class="form-control input-lg"
               id="email" placeholder="Email" required aria-required="true">
        <div role="alert">
        <span class="error" ng-show="registerForm.email.$invalid && registerForm.email.$touched">
       Invalid email!</span>
        </div>
        <div>&nbsp;</div>
        <button ng-click="register()" class="input-lg btn btn-success btn-block" ng-disabled="registerForm.$invalid">Register</button>
    </form>
</div>