
<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
<head>

    <title>Forms</title>

</head>

<body>


<div class="container-fluid" ng-controller="FormController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>

            <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="forms.view.html">Forms</a></li>
                <li><a href="form-fields.view.html">Fields</a></li>
            </ul>
            </div>
            <div>
                <table class="table table-bordered table-striped table-responsive">
                 <thead>
                 <tr>
                     <td><i class="glyphicon glyphicon-triangle-bottom"></i> Form Name</td>
                     <td>Action</td>
                 </tr>
                 </thead>
                    <tbody>

                    <tr ng-repeat="form in forms"
                        ng-class="{'success' : $index == selectedFormIndex}">
                        <td>{{form.title}}</td>
                        <td><i ng-click="updateForm()" class="glyphicon glyphicon-remove"></i>
                            <i class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
