body {
    background-image: url("../images/bg.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}
* ,.input-group{
    -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
}

select{
    -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
}

.profile{
    text-align: left;
    /*margin-top: 50px;*/
    color: aliceblue;
}
.home-images li{
    display: inline;

    width: 33%;
}

h1,h2,h3,h4,h5,h6,.lead,label,.form-control-file{
    color : white;
}



.table{
    background-color: ghostwhite;
}
#search-addon{
  background-color : deepskyblue;
}

.srch-btn{
    background-color: #45c3d2;
    color: #e0e0e0;
}
li:active{
    color: black !important;
}
#navbar ul li.focus{
    color: #555;
}
.navbar-header a:active{
    color: black;
    background-color: black;
}
a.active{
    color: darkgrey !important;
}

select {
    border: 0 ;
    outline: 1px inset;
    outline-offset:-1px
}
.edit-review{
    color: black; !important;
}

.white{
    color:white; !important
}