<h2 class="page-header">Search Recipes</h2>

<fieldset class="form-group">

    <div class="input-group">
        <input type="text" ng-model="recipe" class="form-control" id="exampleSelect2" placeholder="Search">
        <span class="input-group-addon" ng-click="search(recipe)" id="search-addon"><i class=" glyphicon glyphicon-search "></i></span>
    </div>

</fieldset>

<h3>Search Results</h3>
<div class="table-responsive">
    <table class="table table-striped">

        <tbody>

        <tr ng-repeat="recipes in data.matches">

            <td><img ng-src="{{recipes.smallImageUrls[0]}}" alt="image"></td>
            <td>
                <a href="#/recipe/{{recipes.id}}">
                    {{recipes.recipeName}}
                </a>
            </td>
            <td>{{recipe.attributes.cuisine[0]}}</td>
        </tr>
        </tbody>
    </table>
</div>