body {
    background-image: url("../images/pink_rice.png");
}
.register{
    background-image: url("../images/register.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.profile{
    text-align: left;
    /*margin-top: 50px;*/
    color: aliceblue;
}
.home-images li{
    display: inline;

    width: 33%;
}
.home-images img{
    float:left;
    width: 33%;

}
.jkl img
{
    float: left;
  width: inherit;
    height: auto;
}

.table{
    background-color: ghostwhite;
}
#search-addon{
  background-color : deepskyblue;
}
