body {
    background-image: url("../images/pink_rice.png");
}
.home{
    background-image: url("../images/register.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #2e2e2e;
}
.profile{
    text-align: left;
    /*margin-top: 50px;*/
    color: aliceblue;
}
.home-images li{
    display: inline;

    width: 33%;
}



.table{
    background-color: ghostwhite;
}
#search-addon{
  background-color : deepskyblue;
}
.recipe-cover{
    background-image: url("../images/register.jpg");
    background-size: 100% 100%;
}