<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9  col-md-10  main">
            <h1 class="page-header">My Recipes</h1>

            <div>
                <ul class="edit-review nav nav-tabs nav-justified">
                    <li class="active"><a href="#">My Recipes</a></li>
                    <li><a href="#/myreviews" class="white">My Reviews</a></li>
                    <li><a class="white" href="#/following">Following</a></li>
                </ul>
            </div>
            <div>
                <div>&nbsp;</div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i ng-click="sortBy('recipe')" class="glyphicon glyphicon-sort"></i>Name</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="recipeName" type="text" placeholder="name"></td>
                        <td><i ng-click="addRecipe()" class="glyphicon glyphicon-plus-sign"></i> <i ng-click="updateRecipe()" class="glyphicon glyphicon-ok-sign"></i></td>

                    </tr>
                    <tr ng-repeat="recipe in recipes | orderBy:orderFeature:orderDescending">
                        <td><a href="#/recipe/{{recipe.recipeId}}">{{recipe.recipe}}</a></td>
                        <td><i ng-click="deleteRecipe($index)" class="glyphicon glyphicon-remove-sign"></i>
                            <i ng-click="selectRecipe($index)" class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>