<div class="container-fluid">
<div class="jumbotron" >
<div class="recipe-cover" ng-style="{'background-image':'url({{recipe.images[0].hostedLargeUrl}})'}">
    <h1>{{recipe.name}}</h1>

</div>
    <div class="row">
        <div class="text-muted text-right">
            <p>Preparation Time : {{recipe.totalTime}}</p>
            <p>Serves : {{recipe.numberOfServings}}</p>
            <p><a ng-click="saveRecipe()" ng-hide="rootScope.user==null" class="btn btn-lg btn-danger">
                Save <i class="glyphicon glyphicon-heart-empty"></i></a></p>
        </div>

    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object"  ng-src="{{recipe.images[0].hostedLargeUrl}}" alt="">
            </a>
        </div>
        <div class="media-body">
            <h3>Ingredients</h3>
            <p>
            <ul>

                <li  ng-repeat="ingredient in recipe.ingredientLines">
                     {{ingredient}}
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-right">

        </div>
        <div class="media-body">
            <p>
                Read full directions : <a href="{{recipe.source.sourceRecipeUrl}}">{{recipe.source.sourceDisplayName}}</a>
            </p>
            <ul>

            </ul>
        </div>



    </div>
    <div class="media" ng-repeat="review in reviews">
        <div class="media-left">
            <a href="#">
                {{review.username}}
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Rating: {{review.rating}} stars</h4>
           {{review.text}}
        </div>
    </div>

    <div class="media text-center">
        <div ng-show="showReview">
            <div class="media-left">
            <select class="form-control-lg" ng-model="review.stars">
                <option value="1">1 star</option> 
                <option value="2">2 stars</option> 
                <option value="3">3 stars</option> 
                <option value="4">4 stars</option> 
                <option value="5" selected>5 stars</option> 
            </select>
            </div>
            <div class="media-body">
            <textarea rows="5" cols="50" ng-model="review.body"/>
            <a ng-click="toggleReview() && addReview()"  class="btn btn-lg btn-info">
                Submit Review <i class="glyphicon glyphicon-ok-sign"></i></a>
            <a ng-click="toggleReview()"  class="btn btn-lg btn-danger">
                Cancel <i class="glyphicon glyphicon-remove-sign"></i></a>
            </div>
        </div>
    <p><a ng-click="toggleReview()" ng-hide="showReview" class="btn btn-lg btn-success">
       Write Review <i class="glyphicon glyphicon-plus-sign"></i></a></p>
    </div>


</div>
</div>