<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9  col-md-10  main">
            <h1 class="page-header">My Recipes</h1>

            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#/myrecipes">My Recipes</a></li>
                    <li><a href="#/savedrecipes">Saved Recipes</a></li>
                </ul>
            </div>
            <div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i>Name</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="recipeName" type="text" placeholder="name"></td>
                        <td><i ng-click="addRecipe()" class="glyphicon glyphicon-plus"></i> <i ng-click="updateForm()" class="glyphicon glyphicon-ok"></i></td>

                    </tr>
                    <tr ng-repeat="recipe in recipes">
                        <td>{{recipes.recipe}}</td>
                        <td><i ng-click="deleteForm($index)" class="glyphicon glyphicon-remove"></i>
                            <i ng-click="selectForm($index)" class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>