<div class="container-fluid">
<div class="jumbotron" >
<div class="recipe-cover" ng-style="{'background-image':'url({{recipe.images[0].hostedLargeUrl}})'}">
    <h1>{{recipe.name}}</h1>

</div>
    <div class="row">
        <div class="text-muted text-right">
            <p>Preparation Time : {{recipe.totalTime}}</p>
            <p>Serves : {{recipe.numberOfServings}}</p>
            <p><a href="#/myrecipes" ng-hide="rootScope.user==null" class="btn btn-lg btn-danger">
                Save <i class="glyphicon glyphicon-heart-empty"></i></a></p>




        </div>

    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object"  ng-src="{{recipe.images[0].hostedLargeUrl}}" alt="">
            </a>
        </div>
        <div class="media-body">
            <h3>Ingredients</h3>
            <p>
            <ul>

                <li  ng-repeat="ingredient in recipe.ingredientLines">
                     {{ingredient}}
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-right">

        </div>
        <div class="media-body">
            <p>
                Read full directions : <a href="{{recipe.source.sourceRecipeUrl}}">{{recipe.source.sourceDisplayName}}</a>
            </p>
            <ul>

            </ul>
        </div>



    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" width="80px" src="images/profile.png">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><img class="media-object" width="80px" src="images/rating.png"></h4>
            Love this recipe !
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" width="80px" src="images/profile.png">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><img class="media-object" width="80px" src="images/rating.png"></h4>
            Simple and easy to follow.
        </div>

    </div>
    <div class="text-center">
    <p><a href="#"  ng-hide="rootScope.user==null" class="btn btn-lg btn-success">
       Write Review <i class="glyphicon glyphicon-plus-sign"></i></a></p>
    </div>






</div>
</div>