<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-9  col-md-10  main">
            <h1 class="page-header">My Recipes</h1>

            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li ><a href="#/myrecipes">My Recipes</a></li>
                    <li class="active"><a href="#/savedrecipes">Saved Recipes</a></li>
                </ul>
            </div>
            <div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-triangle-bottom"></i> My Recipes</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><input ng-model="formName" type="text" placeholder="name"></td>
                        <td><i  class="glyphicon glyphicon-plus"></i> <i  class="glyphicon glyphicon-ok"></i></td>

                    </tr>
                    <tr ng-repeat="form in forms">
                        <td>{{form.title}}</td>
                        <td><i  class="glyphicon glyphicon-remove"></i>
                            <i  class="glyphicon glyphicon-pencil"></i></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>